<div>
    <div class="navbar">
    <a routerLink="/homepage">
        <img src="/assets/back.png" alt="">
    </a>
     <h3 style="font-weight: bold;">Subscibe to Premium</h3>
    </div>
    <p class="para">subscribe to premium use for better audio quality and without ads</p>
</div>
<div class="firstbox">
    <div class="price">
        <img src="/assets/icons8-crown-48.png" alt="">
        <h1 style="font-weight: bold;">Unlimited plan</h1>
        <p class="paragragh" style="padding-top: 5px;font-weight: 500;">$7,999/month</p>
    </div>
    <div class="second-paragragh">
        <p>Listen with best audio</p>
        <p style="padding: inherit;">No ads and restrictions available</p>
        <p>Personalized Recommendations</p>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto" style="height: 50px;  justify-content: center;">
        <button routerLink="/profile" style="width: 300px; border-radius: 25px;" class="btn-get-started" type="button">Get started</button>
    </div>

</div>
<div class="firstbox">
    <div class="price">
        <img src="/assets/icons8-crown-48.png" alt="">
        <h1 style="font-weight: bold;">Yearly plan</h1>
        <p class="paragragh" style="padding-top: 5px;font-weight: 500;">$10,189/Year</p>
    </div>
    <div class="second-paragragh">
        <p>Listen with best audio</p>
        <p style="padding: inherit;">No ads and restrictions available</p>
        <p>Personalized Recommendations</p>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto" style="height: 50px;  justify-content: center;">
        <button style="width: 300px; border-radius: 25px;" class="btn-get-started" type="button">Get started</button>
    </div>

</div>
