<div>
    <div class="navbar">
    <a routerLink="/premiumpage">
        <img src="/assets/back.png" alt="">
    </a>
     <h3 style="font-weight: bold;">Profile Setting</h3>
    </div>
</div>
<div class="profile-setting">
    <img class="profile-img" src="/assets/womanuser.jpg" alt="">
    <div class="profile-name">
        <h1 style="font-weight: bold;">Helia Shahbazi</h1>
        <p style="font-size: 16px;font-weight: 500;">Shahbazi.helia82&#64;gmail.com</p>
    </div>
</div>
<div class="container-box">
    <div class="profile-box">
        <img class="crown-icon" src="/assets/crown with background.png" alt="">
        <div class="profile-text">
            <p style="font-size: 19px;font-weight: bold;">Get the premium benefit</p>
            <p style="padding-top: 10px;">Enjoy listening podcast with better quality and without ads</p>
        </div>
    </div>
</div>
<div class="ul-container">
    <ul class="ul">
        <div class="list firstlist">
            <li>Edit Profile</li>
            <img src="/assets/icons8-next-30.png" alt="">
        </div>
        <div class="list">
            <li>Content Settings</li>
            <img src="/assets/icons8-next-30.png" alt="">
        </div>
        <div class="list">
            <a class="tag-a" routerLink="/collectionlist">
                <li>Collection List</li>
            </a>
            <a routerLink="/collectionlist">
                <img src="/assets/icons8-next-30.png" alt="">
            </a>
        </div>
        <div class="list">
            <li>Language</li>
            <img src="/assets/icons8-next-30.png" alt="">
        </div>
        <div class="list">
            <li>Security</li>
            <img src="/assets/icons8-next-30.png" alt="">
        </div>
        <div class="list">
            <li>Change Log</li>
            <img src="/assets/icons8-next-30.png" alt="">
        </div>
        <div class="list">
            <li>Log Out</li>
            <img src="/assets/icons8-next-30.png" alt="">
        </div>
    </ul>
</div>
